In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets
import warnings
warnings.filterwarnings('ignore') # We can suppress the warnings


df = pd.read_csv('car_evaluation.csv')
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [18]:
# 
Import train_test_split function
import sklearn.model_selection
from sklearn.model_selection import train_test_split

X = df[['small', 'low', 'unacc', 'petal width']] # Features
y = df['vhigh.1']  # Labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

SyntaxError: invalid syntax (1558769743.py, line 2)

In [15]:
Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

SyntaxError: invalid syntax (1779881662.py, line 1)